:root {
  --node-width: 265px;
  --node-height: 30px;
  --node-border: 2px;
  --node-horizontal-padding: 85px;
  --node-vertical-padding: 15px;
  --yellow: #FFFF99;
}

.blue-theme {
  --body-background: #18515F;
  --header-background: #002A2B;

  --available-highlight: #A3DAD4;
  --available-background: #003366;
  --available-midtone: #226699;

  --unavailable-highlight: #A9A9A9;
  --unavailable-background: #394B61;
  --unavailable-midtone: #778898;
}

.skill-available {
  --highlight: var(--available-highlight);
  --background: var(--available-background);
  --midtone: var(--available-midtone);
}

.skill-unavailable {
  --highlight: var(--unavailable-highlight);
  --background: var(--unavailable-background);
  --midtone: var(--unavailable-midtone);
}

body {
  background-color: var(--body-background);
  font-family: Helvetica, Arial;
  color: var(--available-highlight);
  margin: 0px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

p {
  display: inline;
}

table {
  border-spacing: 1px;
  white-space: nowrap;
}

.skill-description {
  line-height: 1.4em;
  white-space: initial;
  text-align: left;
}

th {
  padding: 5px;
  background-color: var(--available-midtone);
  color: var(--available-highlight);
}

table > tr:first-child > *:first-child {
  border-radius: 1ex 0 0 0;
}

table > tr:first-child > *:last-child {
  border-radius: 0 1ex 0 0;
}

table > tr:last-child > *:first-child {
  border-radius: 0 0 0 1ex !important;
}

table > tr:last-child > *:last-child {
  border-radius: 0 0 1ex 0;
}

td {
  padding: 5px;
  font-size: 10pt;
  background: var(--available-background);
  color: #E5FFF8;
}

#header {
  background-color: var(--header-background);
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 164px;
}

#header-main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}

#header-main div {
  display: flex;
  flex-direction: column;
  margin: 0px 15px 0px 15px;
}

#header-links {
  display: flex;
  flex-direction: column;
}

#header-links a {
  flex: 1;
}

#header-links svg {
  width: 30px;
  fill: var(--available-highlight);
}

#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 10px 2.5%;
}

.tree {
  position: absolute;
}

.skill {
  position: absolute;
  width: var(--node-width);
  height: var(--node-height);
  background-color: var(--background);
  border: solid var(--node-border) var(--highlight);
  border-radius: 17px;
}

.skill-name-en {
  color: var(--highlight);
  display: inline-block;
  position: relative;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
}

.skill-type {
  color: var(--background);
  font-weight: bold;
  padding-top: 4px;
  padding-left: 5px;
  font-stretch: condensed;
  font-size: 15px;
  position: relative;
  width: 55px;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  height: 21px;
  border-radius: 12.5px;
  overflow: hidden;
  background-color: var(--highlight);
  float: right;
}

.skill-level {
  position: relative;
  width: 60px;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  border-radius: 12.5px;
  overflow: hidden;
  background-color: var(--highlight);
  float: right;
}

.skill-level:before {
  content: '';
  position: absolute;
  left: 30%;
  width: 100%;
  height: 100%;
  background-color: var(--midtone);
  transform: rotate(-65deg);
}

.skill-current-level {
  color: var(--background);
  top: 50%;
  left: 4%;
  position: absolute;
  font-size: 23px;
  width: 30px;
  text-align: center;
  transform: translateY(-50%);
}

.skill-max-level {
  position: absolute;
  top: 5px;
  left: 36px;
  width: 20px;
  text-align: center;
}

.skill-available .skill-max-level { color: var(--highlight); }
.skill-unavailable .skill-max-level { color: var(--background); }

.skill-info {
  min-width: calc(var(--node-width) * 1.5);
  padding: 0;
  margin: 0;
  background-color: #000000;
  color: var(--available-highlight);
  text-align: center;
  border-radius: 1ex;
  position: absolute;
}

.line {
  position: absolute;
  background-color: var(--available-highlight);
}

.level-req {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: var(--yellow);
  text-shadow: -1px -1px 0 #105068, 1px -1px 0  #105068, -1px 1px 0 #105068, 1px 1px 0  #105068;
  text-align: center;
  width: 30px;
  height: 20px;
  margin: 2px;
}
