@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

:root {
  --node-width: 200px;
  --node-height: 24px;
  --node-border: 2px;
  --node-horizontal-padding: 64px;
  --node-vertical-padding: 12px;
  --yellow: #fff133;

  --horizontal-nodes: 6;
  --vertical-nodes: 7;

  --tree-width: calc(var(--node-width) * var(--horizontal-nodes) + var(--node-horizontal-padding) * (var(--horizontal-nodes) - 1));
  --tree-height: calc(var(--node-height) * var(--vertical-nodes) + var(--node-vertical-padding) * (var(--vertical-nodes) - 1));
}

.blue-theme {
  --body-background: #18515f;
  --header-background: #002a2b;

  --available-highlight: #a3dad4;
  --available-background: #036;
  --available-midtone: #269;

  --unavailable-highlight: #a9a9a9;
  --unavailable-background: #394b61;
  --unavailable-midtone: #778898;
}

.skill-available {
  --highlight: var(--available-highlight);
  --background: var(--available-background);
  --midtone: var(--available-midtone);
}

.skill-unavailable {
  --highlight: var(--unavailable-highlight);
  --background: var(--unavailable-background);
  --midtone: var(--unavailable-midtone);
}

body {
  min-width: var(--tree-width);
  font-family: Helvetica, Arial;
  color: var(--available-highlight);
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  background-color: var(--body-background);
}

table {
  min-width: calc(var(--node-width) * 1.5);
  white-space: nowrap;
  border-spacing: 1px;
}

.skill-description {
  line-height: 1.4em;
  text-align: left;
  white-space: initial;
}

th {
  padding: 5px;
  color: var(--available-highlight);
  background-color: var(--available-midtone);
}

table > tr:first-child > *:first-child {
  border-radius: 1ex 0 0 0;
}

table > tr:first-child > *:last-child {
  border-radius: 0 1ex 0 0;
}

table > tr:last-child > *:first-child {
  border-radius: 0 0 0 1ex;
}

table > tr:last-child > *:last-child {
  border-radius: 0 0 1ex 0;
}

table > tr:last-child > *:only-child {
  border-radius: 0 0 1ex 1ex;
}

td {
  padding: 5px;
  font-size: 10pt;
  color: #e5fff8;
  background: var(--available-background);
}

#header {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  height: 164px;
  padding: 10px;
  background-color: var(--header-background);
}

#header-main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}

#header-main div, #header-main label {
  display: flex;
  flex-direction: column;
  margin: 0 15px 0 15px;
}

#header-links {
  display: flex;
  flex-direction: column;
}

#header-links a {
  flex: 1;
}

#header-links svg {
  width: 30px;
  fill: var(--available-highlight);
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 600px;
}

.tree {
  position: relative;
  width: var(--tree-width);
  height: var(--tree-height);
}

.skill {
  --skill-x-pos: 0;
  --skill-y-pos: 0;

  position: absolute;
  top: calc(var(--skill-y-pos) * (var(--node-height) + var(--node-vertical-padding)));
  left: calc(var(--skill-x-pos) * (var(--node-width) + var(--node-horizontal-padding)));
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: var(--node-width);
  height: var(--node-height);
  background-color: var(--background);
  border: solid var(--node-border) var(--highlight);
  border-radius: 100px;
}

.skill-name-en {
  margin-left: 4px;
  font-size: 15px;
  color: var(--highlight);
}

.skill-type {
  position: relative;
  display: flex;
  flex-direction: row;
  width: calc(var(--node-width) * 0.225);
  height: calc(var(--node-height) - var(--node-border) * 2 - 4px);
  margin-right: 2px;
  overflow: hidden;
  text-align: center;
  background-color: var(--highlight);
  border-radius: 100px;
}

.skill-type-special {
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  font-stretch: condensed;
  color: var(--background);
}

.skill-type-normal {
  align-items: baseline;
  justify-content: space-between;
}

.skill-type-normal:before {
  position: absolute;
  left: 33%;
  flex-basis: 100%;
  width: 100%;
  height: 100%;
  content: "";
  background-color: var(--midtone);
  transform: rotate(-65deg);
}

.skill-current-level {
  width: 23px;
  margin: 1px;
  font-size: 16px;
  color: var(--background);
}

.skill-max-level {
  position: relative;
  width: 15px;
  margin-right: 2px;
  font-size: 12px;
}

.skill-available .skill-max-level { color: var(--highlight); }
.skill-unavailable .skill-max-level { color: var(--background); }

.skill-info {
  position: absolute;
  padding: 0;
  margin: 0;
  color: var(--available-highlight);
  text-align: center;
  background-color: #000;
  border-radius: 1ex;
}

.info-current-level {
  font-weight: bold;
  color: var(--yellow);
}

.line {
  position: absolute;
  background-color: var(--available-highlight);
}

.vertical-line {
  --vertical-line-x-pos: 0;
  --vertical-line-min-y-pos: 0;
  --vertical-line-max-y-pos: 0;

  top: calc(var(--vertical-line-min-y-pos) * (var(--node-height) + var(--node-vertical-padding)) + var(--node-height) / 2 - 2px);
  left: calc(var(--vertical-line-x-pos) * (var(--node-width) + var(--node-horizontal-padding)) - var(--node-horizontal-padding) / 2 - 2px);
  width: 4px;
  height: calc((var(--node-height) + var(--node-vertical-padding)) * (var(--vertical-line-max-y-pos) - var(--vertical-line-min-y-pos)) + 4px);
}

.horizontal-line {
  --line-x-pos: 0;
  --line-y-pos: 0;

  top: calc(var(--line-y-pos) * (var(--node-height) + var(--node-vertical-padding)) + var(--node-height) / 2 - 2px);
  height: 4px;
}

.forward-line {
  --line-x-end-pos: 0;

  left: calc(var(--line-x-pos) * (var(--node-width) + var(--node-horizontal-padding)) + var(--node-width) - 1px);
  width: calc(var(--node-horizontal-padding) / 2 + (var(--line-x-end-pos) - var(--line-x-pos) - 1) * (var(--node-width) + var(--node-horizontal-padding)) + 3px);
}

.dep-line {
  left: calc(var(--line-x-pos) * (var(--node-width) + var(--node-horizontal-padding)) - var(--node-horizontal-padding) / 2 - 2px);
  width: calc(var(--node-horizontal-padding) / 2 + 3px);
}

.level-req {
  --level-x-pos: 0;
  --level-y-pos: 0;

  position: absolute;
  top: calc(var(--level-y-pos) * (var(--node-height) + var(--node-vertical-padding)) + var(--node-height) / 2);
  left: calc(var(--level-x-pos) * (var(--node-width) + var(--node-horizontal-padding)) + var(--node-width) + var(--node-horizontal-padding) / 2);
  font-size: 16px;
  font-weight: bold;
  color: var(--yellow);
  text-shadow: -1px -1px 0 #105068, 1px -1px 0 #105068, -1px 1px 0 #105068, 1px 1px 0 #105068;
  transform: translate(-50%, -50%);
}
